/* styles.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

img {
  margin: 16px; /* Reducir el margen inferior */
  padding: 16;
}

h1 {
  color: #34495e;
  font-size: 1.8rem; /* Reducir tamaño del título */
  margin-bottom: 16px; /* Reducir el margen inferior */
}

.table-container {
  width: 75%; /* Reducir el ancho de la tabla */
  max-width: 600px; /* Establecer un max-width más estrecho */
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
  margin: 16px auto; /* Reducir el margen superior e inferior */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #3498db;
  color: #ffffff;
  text-align: left;
  padding: 10px 12px; /* Reducir padding de los encabezados */
  font-weight: 600;
}

td {
  padding: 6px 10px; /* Reducir padding de las celdas */
  color: #34495e;
  max-width: 180px; /* Reducir max-width de las celdas */
  overflow: hidden;
  text-overflow: ellipsis;
}

tr {
  border-bottom: 1px solid #e0e4e8;
}

tr:hover {
  background-color: #f5f9fc;
  transition: background-color 0.3s ease;
}

tr:nth-child(even) {
  background-color: #f9fbfd;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 600px) {
  h1 {
    font-size: 1.4rem; /* Reducir tamaño del título aún más en pantallas pequeñas */
  }
  
  th, td {
    padding: 8px 10px; /* Ajuste del padding en pantallas pequeñas */
  }
  
  .table-container {
    width: 90%; /* Hacer la tabla un poco más estrecha en pantallas pequeñas */
  }
}
